*{
    padding:0px;
    margin:0px;
}
h1{
    color:orangered
}

.container{
    padding-top:100px;
    width:100vw;
    height:100vh;
    background: rgb(31, 31, 31);
}

.form-wrapper{
    padding:20px;
    margin:0px auto;
    width:40%;
    background:rgb(17, 17, 17);
    border:3px solid rgb(56, 56, 56);
    border-radius: 5px;
}
form{   
    display: flex;
    margin:0px auto;
    flex-direction: column;
}
label{
    text-align: left;
    margin-bottom:5px;      
    color:orangered
}
input{
    padding:5px;
    border-radius: 5px; 
}
input[type="submit"]{
    margin:15px 0px;
    background-color: orange;
    border:1px solid black;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 2px 4px black;
    transition:all 500ms ease-in-out
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: orangered;
    box-shadow: 0px 4px 8px black;
}