.col-6{
    height:100%;
    width:50%;
    background: rgb(66, 66, 66);
    border:1px solid white;
}

.user__level{
    padding:10px 20px;
    background-color: black;
}
.user__name{
    padding:10px 20px;
    background-color: rgb(15, 15, 15);
}
.user__str{
    padding:10px 20px;
    background-color: gray;
}
.user__hp{
    padding:10px 20px;
    background-color: red;
}
.user__speed{
    padding:10px 20px;
    background-color: green;
}   
.user__btn{
    padding:10px 20px;
    background-color: orange;
}
.user__btn:hover{
    cursor:pointer;
    background-color: rgb(184, 119, 0);
    
}