.App-header {
    background-color: #282c34;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .btn{
    cursor:pointer;
    padding:10px 20px;
    background-color: black;
    border:2px solid white;
    color:white;
    font-weight: bold;
    transition: all 500ms ease-in-out;
  }
  .btn:hover{
    padding:10px 20px;
    background-color: white;
    border:2px solid black  ;
    color:black;
  }